<%- include("templates/head", { stylesheetPath: ['/styles/finalRecommend.css','/styles/nav.css','/styles/foot.css'] }) %>
<%- include("templates/nav") %>
<script src="/scripts/scrapeImages.js"></script>
<div class="content">
  <div>
    <p class="p1">Congrats on finishing your adventure!</p>
  </div>
  <div>
    <p class="p2">Based on your chosen adventure, we recommend the following games:</p>
  </div>
  <div class="game-cards">
    <% for (let i = 0; i < 6; i++) { %>
    <div class="game-info" id="game-card-<%= i %>" <% if(i >= 3) { %>style="display: none;"<% } %>>
      <div class="picture">
        <img id="game-image-<%= i %>" src="" alt="" />
      </div>
      <div class="options">
        <h1><%= gamesList[i] %></h1>
        <form id="wishlist-form-<%= i %>" action="/verifyWishlist" method="post">
          <input type="hidden" name="game" value="<%= gamesList[i] %>">
          <a onclick="submitForm(<%= i %>);" href="#" class="wishlist-button"><span>Add to Wishlist</span><i></i></a>
          <a onclick="recommendNewGame(<%= i %>);" class="recommend-button"><span>Recommend a new game</span></a>
        </form>
      </div>
    </div>
    <script>
      if(<%= i %> < 6) {
        scrapeImages('<%= slugList[i] %>', 'game-image-<%= i %>'); 
      }
      
      function recommendNewGame(index) {
        var currentCard = document.getElementById('game-card-' + index);
        currentCard.remove();
        
        var hiddenCards = document.querySelectorAll('.game-info[style="display: none;"]');
        if (hiddenCards.length > 0) {
          var randomIndex = Math.floor(Math.random() * hiddenCards.length);
          var newCard = hiddenCards[randomIndex];
          newCard.style.display = 'block';
        } else {
          alert("Sorry, there are no more recommendations. Please restart the game for more recommendations.");
        }
      }
      
      function submitForm(index) {
        document.getElementById("wishlist-form-" + index).submit();
      }
    </script>
    <% } %>
  </div>
</div>
<%- include("templates/foot") %>
