<%- include("templates/head", { stylesheetPath: ['/styles/finalRecommend.css','/styles/nav.css','/styles/foot.css'] })
  %> <%- include("templates/nav") %>
    <script src="/scripts/scrapeImages.js"></script>
    <div class="content">
      <div>
        <p class="p1">Congrats on finishing your adventure!</p>
      </div>
      <div>
        <p class="p2">
          Based on your chosen adventure, we recommend the following games:
        </p>
      </div>
      <div class="game-cards">
        <% for (let i=0; i < 3; i++) { %>
          <div class="game-info">
            <div class="picture">
              <img id="game-image-<%= i %>" src="" alt="" />
            </div>
            <div class="options">
              <h1>
                <%= gamesList[i] %>
              </h1>
              <form id="wishlist-form" action="/verifyWishlist" method="post">
                <input type="hidden" name="game" value="<%= gamesList[i] %>">
                <a onclick="submitForm()" href="#" style="--clr: #fceabb"><span>Add to Wishlist</span><i></i></a>
              </form>
            </div>
          </div>
          <script>
            scrapeImages('<%= slugList[i] %>', 'game-image-<%= i %>'); 
          </script>
          <script>
            function submitForm() {
              document.getElementById("wishlist-form").submit();
            }
          </script>
          <% } %>
      </div>
    </div>
    <%- include("templates/foot") %>