<%- include("templates/head", { stylesheetPath:
['/styles/promptScreen.css','/styles/nav.css','/styles/foot.css'] }) %> <%-
include("templates/nav") %>
<div class="content">
      <div class="picture">
        <img src="mediaResources/1.jpg" alt="" />
      </div>
      <div class="prompt-card">
        <div class="prompt">
          <p>
            <%= options[0] %>
          </p>
        </div>
        <div class="options">
          <% for (var i = 1; i < options.length; i++) { %>
            <a href="finalRecommend" style="--clr:#fceabb"><span><%= options[i] %></span><i></i></a>
          <% } %>
        </div>
      </div>
    </div>
    <%- include("templates/foot") %>