<%- include("templates/head", { stylesheetPath:
['/styles/promptScreen.css','/styles/nav.css','/styles/foot.css'] }) %> <%-
include("templates/nav") %>
<div class="content">
      <div class="picture">
        <img src="mediaResources/1.jpg" alt="" />
      </div>
      <div class="prompt-card">
        <div class="prompt">
          <p>
            <%= options[0] %>
          </p>
        </div>
        <div>
          <% for (var i = 1; i < options.length; i++) { %>
            <a style="color: white;" href="/optionProcess?answer=<%= encodeURIComponent(options[i]) %>">
              <%= options[i] %>
            </a>
            <br>
          <% } %>
        </div>
      </div>
    </div>
    <%- include("templates/foot") %>