<%- include("templates/head", { stylesheetPath:['/styles/favourites.css', '/styles/profile.css','/styles/nav.css','/styles/foot.css'] }) %>
    <%- include("templates/nav") %>
        <script src="/scripts/profileSwapper.js"></script>
        <div class="profile-container mt-5 .col-xs">
            <div class="row">
                <div class="col-lg-4 pb-5">
                    <!-- Account Sidebar-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            <% if (profilePic==null) { %>
                                <img class="img-account-profile rounded-circle mb-2"
                                    src="https://t4.ftcdn.net/jpg/05/09/59/75/360_F_509597532_RKUuYsERhODmkxkZd82pSHnFtDAtgbzJ.jpg"
                                    alt="">
                                <% } else { %>
                                    <img class="img-account-profile rounded-circle mb-2" src="<%= profilePic %>" alt="">
                                    <% } %>
                        </div>
                        <div class="wizard">
                            <!-- Wizard for different pages -->
                            <nav class="list-group list-group-flush mb-0">
                                <a class="list-group-item" onclick="openUserInfo()">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="d-inline-block font-weight-medium text-uppercase">Profile
                                                Settings
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item" onclick="openUserWishlist()">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="d-inline-block font-weight-medium text-uppercase">My Wishlist
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a class="list-group-item" onclick="openUserFavourites()">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="d-inline-block font-weight-medium text-uppercase">Favorite Games
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- User Info -->
                <div id="user-info" class="col-lg-8 pb-5">
                    <div id="info-container">
                        <h1 class="mb-4">
                            <div class="info">
                                <div class="row">
                                    <div class="col">
                                        <h4>
                                            <%- username %>
                                        </h4>
                                    </div>
                                    <div class="col">
                                        <h4>Username</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>More info</h4>
                                    </div>
                                    <div class="col">
                                        <h4>More info</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>More info</h4>
                                    </div>
                                    <div class="col">
                                        <h4>More info</h4>
                                    </div>
                                </div>
                            </div>
                        </h1>
                    </div>
                </div>
                <!-- user Wishlist -->
                <!-- User Favourites -->
                <div id="user-favourites" class="col-lg-8 pb-5" style="display: none;">
                    <script src="/scripts/scrapeImages.js"></script>
                    <div id="favourites-container">
                        <h1 class="mb-4">Favourite Games</h1>
                        <div class="favourites">
                            <br>
                            <div class="row">
                                <% for (var i=0; i < favourites.length; i++) { %>
                                    <div class="col-md-4" style="margin-top: 15px;">
                                        <div class="card mb-4">
                                            <img id="game-image-<%= i %>" src="" alt="" class="card-img-top">
                                        </div>
                                    </div>
                                    <script>
                                        scrapeImages('<%= favourites[i] %>', 'game-image-<%= i %>');
                                    </script>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("templates/foot") %>