<%- include("templates/head", { stylesheetPath:
    ['/styles/favourites.css','/styles/nav.css','/styles/foot.css','/styles/profile.css','/styles/gameSearchbar.css'] })
    %> <%- include("templates/nav") %>
      <div class="wishlist mt-5">
        <div class="row">
          <%- include("templates/profile_picture") %>
            <!-- Wishlist -->
            <div class="col-lg-8 pb-5">
              <script src="/scripts/gameSearchbar.js"></script>
              <script src="/scripts/scrapeImages.js"></script>
              <div id="wishlist-container">
                <h1 class="mb-4">Wishlist Games</h1>
                <div class="favourites">
                  <form autocomplete="off" action="/verifyWishlist" method="post">
                    <h4>Add to wishlist</h4>
                    <%- include('templates/gameSearchbar') %>
                  </form>
                  <% if (success==='true' ) { %>
                    <div class="success-message">Successfully added game to wishlist!</div>
                    <% } else if (success==='false' ) { %>
                      <div class="error-message">Sorry, that game is in another castle! Please try again.</div>
                      <% } %>
                        <br>
                        <div class="row">
                          <% for (var j=0; j < wishlist.length; j++) { %>
                            <div class="col-md-4" style="margin-top: 15px; margin-bottom: 20px;">
                              <div class="card mb-4">
                                <img id="game-image-<%= j %>" src="" alt="" class="card-img-top">
                                <div class="card-body">
                                  <form action="/removeWishlist" method="post">
                                    <input type="hidden" name="game" value="<%= wishlist[j] %>">
                                    <button type="submit" class="btn btn-danger my-2"
                                      style="width: 93%; margin-top: 5px;">Remove</button>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <script>
                              scrapeImages('<%= wishlist[j] %>', 'game-image-<%= j %>');
                            </script>
                            <% } %>
                        </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  
      <%- include("templates/foot") %>